@model HomeManagementApp.Models.UserTask

@{
    ViewData["Title"] = "Stwórz zadanie";
}

<h2>@ViewData["Title"]</h2>

<h4>Zadanie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="AdminTaskId" class="control-label">Zadanie</label>
                <select asp-for="AdminTaskId" class="form-control" asp-items="ViewBag.AdminTasks">
                    <option value="">-- Wybierz zadanie --</option>
                </select>
                <span asp-validation-for="AdminTaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label">Termin wykonania</label>
                <input asp-for="DueDate" class="form-control" type="date" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsComplete" class="control-label">Zakończone</label>
                @Html.CheckBoxFor(model => model.IsComplete, new { @disabled = "disabled" })
                <span asp-validation-for="IsComplete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Użytkownik</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users">
                    <option value="">-- Wybierz użytkownika --</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Powrót do listy</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
