@model dynamic

<h2>Statystyki Zadań</h2>

<p>Liczba ukończonych zadań: @Model.CompletedTasks</p>
<p>Liczba nieukończonych zadań: @Model.IncompleteTasks</p>

<a asp-action="Index">Powrót do listy</a>
